root { 
    display: block;
}

body {
    background:#fff url(../images/background.png) repeat-x top;
    padding:0;
    margin:0;
    font-family: arial;
    font-size: 14px;
}

.inner {
    width:955px;
    margin:0 auto;
}
img {
    border:none;
}
.header {
}
.header_content {
    position: relative;
    background:transparent url(../images/bg_header.png) no-repeat  top left;
    height: 150px;
    padding-bottom: 50px;
}
.header_navigation {
    height:30px;
    padding: 15px 30px 0 0;
}
.header_navigation ul {
    float:right;
    list-style: none;
    padding:0;
    margin:0;
}
.header_navigation ul li {
    float:right;
    margin: 0 4px;
}
.header_navigation ul li a {
    border-top:2px solid #666;
    padding: 4px 20px 4px 20px;
    color:#666;
    text-decoration: none;
    font-size: 13px;
    display: block;
}
.header_navigation ul li a:hover {
    border-top:2px solid #f8d424;
    color:#f8d424;
}

.select_lang {
    float:right;
    height:30px;
    padding: 0px 30px 0 0;
}

.select_lang a {
    float:right;
    margin: 0 4px;
    padding: 4px 20px 4px 20px;
    color:#666;
    text-decoration: none;
    font-size: 13px;
    display: block;
}

.header-logo {
	position: absolute;
	padding: 10px;
}

.footer {
    position: relative;
    background:transparent url(../images/bg_footer.png) no-repeat  top left;
    height: 120px;
    clear: both;
}
.footer_navigation {
    padding: 55px 0 0 0;
}
.footer_navigation ul {
    margin: auto;
    list-style: none;
    padding:0;
}
.footer_navigation ul li {
    display: inline;
    margin: 0 4px;
}
.footer_navigation ul li a {
    border-top:2px solid #666;
    padding: 4px 20px 4px 20px;
    color:#666;
    text-decoration: none;
    font-size: 13px;
}
.footer_navigation ul li a:hover {
    border-top:2px solid #f8d424;
    color:#f8d424;
}

p.text-copyright {
    font-size: 12px;
    color:#666;
}
.main_container {
    position: relative;
    margin-top: -30px;
}
.sidebar {
    width: 239px;
    float: right;
}
.sidebar .sidebar_menu  {
    list-style: none;
    margin: 0;
}
.sidebar .sidebar_menu li {
    background:url(../images/sidebar_menu_background.png) no-repeat top left;
    padding: 1px 5px;
    height: 48px;
    position: relative;
}
.sidebar .sidebar_menu li a {
    border-left:3px solid #999;
    padding: 1px 10px;
    margin:5px;
    color:#777;
    text-decoration: none;
    font-size: 13px;
    display: block;
    height: 32px;
    font-weight: bold;
}
.sidebar .sidebar_menu li a span {
    color:#999;
    font-size: 10px;
    font-weight: lighter;
}
.sidebar .sidebar_menu li a:hover {
    border-left:3px solid #f8d424;
    color: #666;
}
.sidebar .sidebar_menu li a:hover span {
    color: #666;
}
.main_content {
    margin: 0px auto;
    width: 540px;
}
h1 {
    font-size: 24px;
    font-weight: lighter;
    padding: 5px 10px;
    margin: 20px 0px;
    border-left: 5px solid #f8d424;
    border-bottom: 3px solid #333;;
}
h2 {
    font-size: 18px;
    font-weight: lighter;
    padding: 3px 20px;
    margin: 20px 0px 20px 40px;
    border-left: 2px solid #f8d424;
    border-bottom: 2px solid #333;;
}

h3 {
    padding: 3px 20px;
    margin: 20px 0px 20px 40px;
}

h4 {
    padding: 3px 20px;
    margin: 20px 0px 20px 40px;
}

table {
  margin: 20px 0px 20px 40px;
  border-collapse: collapse;
}

th {
  padding:6px;
  vertical-align: top;
  color: #333;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}

td {
  padding:6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

.warning {
    border-left: 5px solid #C00000;
}

.flow {
    font-size: 18px;
    font-weight: bold;
    padding: 3px 20px;
    margin: 20px 50px 20px 50px;
    border-bottom: 2px dotted #333;;
}

p {
  margin: 8px 0px 0px 60px;
}

address {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 40px;
}

section {
  padding-bottom: 50px;
}

.listing-news ul {
.listing-news ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.listing-news ul li {
    margin:10px 0;
    padding: 15px 30px;
    border-bottom: 1px dotted #dcd7b7;
}
.listing-news ul li a {
    text-decoration: none;
    color: #666;
}
.listing-news ul li a:hover {
    color:#333;
}
span.new-date {
    font-size: 11px;
    display: block;
    padding: 2px 0;
}
span.new-title {
    font-size: 12px;
    display: block;
    text-decoration: underline;
}
.listing-news ul li a:hover span.new-date {
    font-weight: bold;
    color:#f8d424;
}
