root { 
    display: block;
}

body {
    background:#fff url(../images/background.png) repeat-x top;
    padding:0;
    margin:0;
    font-family: arial;
    font-size: 14px;
    color: #1d2b38;
}

.inner {
    width:880px;
    margin:0 auto;
}
img {
    border:none;
}
.header_content {
    position: relative;
    background:transparent url(../images/bg_header.png) no-repeat  top left;
    height: 150px;
    padding-bottom: 50px;
}
.header_navigation {
    height:30px;
    padding: 15px 30px 0 0;
}
.header_navigation ul {
    float:right;
    list-style: none;
    padding:0;
    margin:0;
}
.header_navigation ul li {
    float:right;
    margin: 0 4px;
}
.header_navigation ul li a {
    border-top:2px solid #d5eaff;
    padding: 4px 20px 4px 20px;
    color:#d5eaff;
    text-decoration: none;
    font-size: 13px;
    display: block;
}
.header_navigation ul li a:hover {
    border-top:2px solid #2b95ff;
    color:#2b95ff;
}

.select_lang {
    float:right;
    height:30px;
    padding: 0px 30px 0 0;
}

.select_lang a {
    float:right;
    margin: 0 4px;
    padding: 4px 20px 4px 20px;
    color:#d5eaff;
    text-decoration: none;
    font-size: 13px;
    display: block;
}

.select_lang a:hover {
    border-top:2px solid #2b95ff;
    color:#2b95ff;
}

.header-logo {
	position: absolute;
	padding: 10px;
}

.footer {
    position: relative;
    background:transparent url(../images/bg_footer.png) no-repeat  top left;
    height: 120px;
    clear: both;
}
.footer_navigation {
    padding: 55px 0 0 0;
}
.footer_navigation ul {
    margin: auto;
    list-style: none;
    padding:0;
}
.footer_navigation ul li {
    display: inline;
    margin: 0 4px;
}
.footer_navigation ul li a {
    border-top:2px solid #2b95ff;
    padding: 4px 20px 4px 20px;
    color:#1d2b38;
    text-decoration: none;
    font-size: 13px;
}
.footer_navigation ul li a:hover {
    border-top:2px solid #2b95ff;
    color:#2b95ff;
}

p.text-copyright {
    font-size: 12px;
    color:#1d2b38;
}
.main_container {
    position: relative;
    margin-top: -30px;
}
.main_content {
    margin: 0px auto;
    width: 540px;
}
h1 {
    font-size: 24px;
    font-weight: lighter;
    padding: 5px 10px;
    margin: 20px 0px;
    border-left: 5px solid #006ad5;
    border-bottom: 3px solid #333;;
}
h2 {
    font-size: 18px;
    font-weight: lighter;
    padding: 3px 20px;
    margin: 20px 0px 20px 40px;
    border-left: 2px solid #006ad5;
    border-bottom: 2px solid #333;;
}

h3 {
    padding: 3px 20px;
    margin: 20px 0px 20px 40px;
}

h4 {
    padding: 3px 20px;
    margin: 20px 0px 20px 40px;
}

table {
  margin: 20px 0px 20px 40px;
  border-collapse: collapse;
}

th {
  padding:6px;
  vertical-align: top;
  color: #1d2b38;
  background-color: #d5eaff;
  border: 1px solid #b9b9b9;
}

td {
  padding:6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

.warning {
    border-left: 5px solid #C00000;
}

.flow {
    font-size: 18px;
    font-weight: bold;
    padding: 3px 20px;
    margin: 20px 50px 20px 50px;
    border-bottom: 2px dotted #333;;
}

p {
  margin: 8px 0px 0px 60px;
}

address {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 40px;
}

section {
  padding-bottom: 50px;
}
